.containerall {
    width: 224px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
}

.sidebarLeft {
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    height: 238px;
}

.secprofile {
    position: relative;
    background-image: url("/depositphotos_172385004-stock-photo-programming-code-abstract-technology-background.jpg");
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 65px;
}

.avatar {
    border-radius: 50%;
    position: absolute;
    bottom: -30px;
    left: 15px;
    border: 1px solid #f2f2f2;
}

.descriptions {
    width: 90%;
    margin: 30px auto;
}

.descriptions h2 {
    font-size: 20px;
    font-weight: 600;
}

.descriptions p {
    font-size: 12px;
}

.splocation {
    font-size: 12px;
    color: #666666;
}

.boximgfac {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.iconefac {
    border-radius: 5px;
}

.spfac {
    font-size: 12px;
    font-weight: bold;
    color: #000;
}


/*box 2, conexões */

.boxconect2 {
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boxconect2:hover {
    text-decoration: underline;
}

.boxtxtconect {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxtxtconect p {
    font-size: 12px;
    font-weight: bold;
}

.boxtxtconect li a {
    color: #006cbf;
    font-size: 12px;
    text-decoration: none;
}

.boxconect2 span {
    color: #666666;
    font-size: 12px;
}


/*box 3, premium*/

.box3 {
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    height: 75px;
    padding: 5px 15px;
}

.box3:hover {
    text-decoration: underline;
}

.box3 p {
    color: #666666;
    font-size: 12px;
}

.box3txt li a {
    text-align: center;
    display: flex;
    gap: 5px;
    margin-top: 10px;
    font-size: 12px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.box3txt li a:hover {
    color: #006cbf;
}


/*box4*/

.box4 {
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 0 15px;
}

.linksbox4 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
}

.contentbox4 {
    display: flex;
    gap: 8px;
    text-align: center;
    padding: 4px 0;
}

.icons {
    font-size: 15px;
    line-height: 1;
}

.contentbox4 a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
}

@media (max-width: 768px) {
    .containerall {
        position: inherit;
        margin-top: -20px;
        width: 100vw;
    }
    .sidebarLeft {
        border: none;
        border-radius: 0;
        height: 250px;
    }
    .secprofile {
        border-radius: 0%;
        position: inherit;
    }
    .avatar {
        width: 80px;
        height: 80px;
        margin-top: 20px;
        margin-left: 15px;
        position: inherit;
    }
    .descriptions {
        margin-top: 50px;
    }
    .boxconect2 {
        display: none;
    }
    .box3 {
        display: none;
    }
    .box4 {
        display: none;
    }
}